.Category-link {
  color: white;
  font-size: 1em;
  padding: 0.5em;
  transition: color ease-in 0.1s;
}

.Category-list li::before {
  color: #8c55a2;
  content: "--";
  margin-right: 0.5em;
  font-size: 1em;
}
